<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
       http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       bean-discovery-mode="annotated">
    <!--
        Arquivo obrigatorio para habilitar o CDI (Contexts and Dependency
        Injection) no WAR. "annotated" restringe a descoberta de beans aos
        que possuem uma annotation de escopo explicita (@ApplicationScoped,
        @RequestScoped etc.), evitando ambiguidades.
    -->
</beans>
